.home-div {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
  text-align: center; /* Align text in center */
}

.heading {
  font-size: 2.5rem;
  margin: 0.5rem 0; /* Add spacing */
}

.heading2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.btn-container{
  display: flex;
}
.home-button {
  margin: 0.5rem; /* Add spacing between buttons */
  padding: 0.7rem 1.5rem; /* Button padding */
  font-size: 1rem;
  color: white;
  background-color: #007bff; /* Blue color */
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.home-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
